body{
  background: url('../img/bg.jpg') no-repeat center top;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
a {
  color: #01133b;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.btn-main{
  color: #FFC000;
  background-color: #1F3447;
  border-color: #1F3447;
  font-size: 22px;
}
.btn-info {
  color: #fff;
  background-color: #1F3447;
  border-color: #1F3447;
}
.btn-info:link {
  color: #fff;
  background-color: #121e28;
  border-color: #121e28;
}
.btn-info:visited {
  color: #fff;
  background-color: #121e28;
  border-color: #121e28;
}
.btn-info:hover {
  color: #fff;
  background-color: #121e28;
  border-color: #121e28;
}
.btn-info:active{
  color: #fff;
  background-color: #121e28;
  border-color: #121e28;
}
.btn-info:hover {
  color: #fff;
  background-color: #030878;
  border-color: #030878;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  font-size: 22px;
}
.btn-cuenta{
  color: #fff;
  background-color: #6D8EAD;
  border-color: #6D8EAD;
}
.btn-cuenta:hover{
  color: #fff;
  background-color: #6D8EAD;
  border-color: #6D8EAD;
}
.menu-main{
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}
.cuenta{
  background: #333;
}
.logo{
  background: #1F3447;
  padding: 5px 0;
}
.logo img{
  height:100px;
}
.navbar a {
  color: #ffffff;
}
.header{
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo-header{
  height: 50px;
}
.buscar{
  padding-top: 30px;
}
span1{
  color:#01133b;
  font-weight: bold;
}
span2{
  text-decoration: line-through;
}
span3{
  color: #c82a35;
  font-weight: 900;
}
.articulo{
  background: #fff;
  border-bottom: 2px solid #01133b;
  padding: 10px;
}
.art-price{
  font-size: 18px;
}
.electro{
  color: #666;
}
.ico{
  color:#01133b;
}
.personal{
  color:#0067b1;
}
.juguete{
  color:#d68501;
}
.hogar{
  border: 5px solid #FF0000;
}
.infantil{
  border: 5px solid #FF8E00;
}
.tecno{
  border: 5px solid rgba(76,78,89,.8);
}
.s-belleza{
  border: 5px solid rgba(85,50,133,.8);
}
.t-libre{
  border: 5px solid rgba(9,115,106,.8);
}
.viaje{
  border: 5px solid rgba(242,183,5,.8);
}
.mascotas{
  border: 5px solid rgba(249,238,138,.3);
}
.moda{
  border: 5px solid rgba(255,0,0,.8);
}
.vehiculo{
  border: 5px solid rgba(249,238,138,.3);
}
.producto{
  background: #fff;
  border: 1px solid #dedede;
  margin-bottom: 15px;
  padding: 10px;
}
.producto span{
  color: rgba(200,200,200,.9);
}
.producto .col-sm{
  margin: 10px 0;
}
.ico-producto{
  color:#01133b;
  font-size: 36px;
}
.productos{
  margin-top:25px;
  margin-bottom: 25px;
}
.productos .col-sm{
  margin: 10px 0;
}
.prod-1{
  margin: 10px 0;
}
.pro-1{
  padding: 0;
}
.relacionados{
  padding: 25px;
}
.relacionados .col-sm-2{
  margin: 10px 0;
}
.carrito{
  background: #fff;
  border:1px solid rgba(200,200,200,.2);
  margin-top:25px;
  margin-bottom: 25px;
  padding: 25px;
}
.carrito-producto{
  background: #fff;
}
.carrito-producto-img{
  max-width: 50px;
}
.formulario{
  background: #fff;
  border:1px solid rgba(200,200,200,.2);
  margin-top:25px;
  margin-bottom: 25px;
  padding: 25px;
}
.formulario span{
  color: red;
  font-size: 18px;
  font-weight: 900;
}
.orden{
  background: #fff;
}
.miga-proceso .active{
  background: red;
}
.miga .breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent;
  border-radius: .25rem;
}
.como-comprar{
  background: #b6d8f2;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
}
.como-comprar .col-sm-3{
  margin: 10px 0;
}
.como-comprar p{
  margin-top: 0;
  margin-bottom: 0;
}
.comprar{
  color: #1F3447;
  font-size: 28px;
  font-weight: 900;
}
.comprar-ico{
  color: rgba(255,255,255,.8);
  font-size: 30px;
}
.comprar-pasos p{
  margin-top: 0;
  margin-bottom: 0;
}
/* PRODUCTO */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #01133b #dee2e6 #fff;
}
.nav-tabs .nav-link {
  border: 2px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
/* VALOR */
.valor{
  background: #f6f6f6;
  padding: 15px;
}
.check{
  color:#01133b;
  font-size: 24px;
}

/* REGISTRO */
.form-check-input{
  margin-left: 1px;
}
.form-check-label{
  margin-left: 20px;
}

/* TRANSPORTE */
.transporte{
  margin: 20px 0;
}
.transporte-tiempo{
  border: solid 1px rgba(0,12,255,.1);
  padding: 20px 5px;
}


footer{
  /*background: #333;*/
  color:#000;
  font-size: 14px;
  font-weight: 300;
  padding: 25px 0;
}
@media (max-width: 768px) {
  footer{
    text-align: center;
  }
}
.footer-info a{
  color: #fff;
  text-decoration: none;
}
.footer-info a:hover{
  color: #666;
}
.footer-icon{
  color: #fff;
  font-size: 40px;
  padding: 5px;
}
.footer-icon:hover{
  color: #666;
}
.footer-info{
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 1200px) {
  .footer-elpais-tilde{
    width: 100%;

  }
}
@media (max-width: 768px) {
  .footer-elpais-tilde{
    width: 25%;

  }
}
/*[ BACK TO TOP ]
///////////////////////////////////////////////////////////
*/
.feedback {
  background-color: transparent;
  border-color: transparent;
  width: 120px;
}
.chat1{
  margin-right: 25px;
  width: 50px;
}
.chat-texto{
  min-height: 300px;
}
#mybutton {
  position: fixed;
  bottom: 40px;
  right: 10px;
}

/** Cambios estilos botones productos Home */

.productos{
  padding: 0 1px 0 1px;
}

img.card-img-top{
  border: 0 !important;
}
.product-name {
  font-size: 14px;
  display: block;
  line-height: 18px;
  color: #333 !important;
}

.old-price.product-price {
  font-size: 13px;
}

.old-price.product-price  .price-percent-reduction{
  font-size: 14px;
}

.old-price.product-price .amount-label{
  font-size: 13px;
  font-family: 'Lato', sans-serif !important;
  color: #586268 !important;
  font-weight: 500;
  padding: 0;
  margin-bottom: 10px;
  line-height: 0;
}

.price.product-price {
  font-size: 16px;
  line-height:20px;
  font-family: 'Lato', sans-serif;
}

.product-container{
  border: 1px solid #eee;
}

.ajax_add_to_cart_button.btn {
  background: #f3a847 !important;
  border: 1px solid #989898;
}

.ajax_add_to_cart_button.btn, 
.ajax_add_to_cart_button.btn:hover {
  padding: 1px;
  color:#1f3447 !important;
}

.btn-producto-ver-mas, .btn-producto-ver-mas:hover {
  background: #1F3447;
  color: #fff;
  border: none;
  padding: 0 !important;
}

.content_sortPagiBar .sortPagiBar #productsSortForm select {
  margin-top: 10px;
}

.navbar.navbar-expand-lg.navbar-light form{
  margin-right: 20px;
}
.navbar.navbar-expand-lg.navbar-light form button{
  border: 1px solid #d0d0d0;
}


#search_query_top {
  height: 38px !important;
  width: 350px !important;
  font-size: 16px;
}

#btn-cart .badge.badge-light {
  background: #F13340;
  color: #fff;
}

.product-container 
{
  cursor: pointer;
}

.compare a.add_to_compare,  .bt_compare.bt_compare, a.lnk_view 
{
  display:none;
}

.ajax_block_product {
  padding-left: 5px;
  padding-right: 5px;
}

span.ver-mas-productos {
  font-size:18px;
  color:#ffc000;
}

span.ver-mas-productos a {
  color: #DB2941;
}
.part-price.card-text {
  min-height: 88px !important;
}

.btn-grupo-producto {
  position:absolute;
  top: 0px;
  left: 7px;
  right: 7px;
  padding: 119px 14px 14px;
  display: none;
  background: #00000054;
}

.product-container .enlace-item {
  width: 100%;
  height: 120px;
  position: absolute;
  left: 0;
  top: 0;
}

.btn-grupo-producto-cat {
  padding-top: 80px;
}

.price-percent-reduction {
  color: #C82A35 !important;
  background:none;
  border:none;
  padding: 0;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  padding-left:4px;
}

.price-percent-reduction.category-list {
  font-size: 12px !important;
}

.container.producto.detalle #reduction_amount span {
color: #fff;
}

.container.producto.detalle  #reduction_percent {
  border: none;
  background: none;

}
.container.producto.detalle  #reduction_percent  #reduction_percent_display{
  color: #F13340;
  padding-left: 2px;
}

.container.producto.detalle #reduction_amount {
  background:none;
  border:none;
}

.container.producto.detalle #reduction_amount #reduction_amount_display {
    color: #F13340;
    font-size: 18px;
}

.container.producto.detalle h2.electro {
  font-size: 24px;
  margin:0;
}

.container.producto.detalle .our_price_display{
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
}


.container.producto.detalle #old_price_display .price{
  font-family: 'Lato', sans-serif !important;
  font-size: 16px;
  color:rgb(104, 104, 104);
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

@media (min-width: 240px) and (max-width: 320px){ 
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%; 
  }

  .part-price.card-text {
    text-align: center;
  }

  .product-name {
    font-size: 15px;
    padding-top:4px;
  }
  .old-price.product-price {

    font-size: 14px;
  }
  .price.product-price {
    font-size: 16px;
  }

  .articulo {
    min-height: 0 !important;
    margin-top: -18px !important;
  }


  .part-price.card-text {
    min-height: 76px !important;
  }

  .productos img.card-img-top {
    width: 70% !important;
    margin: 0 auto !important;

  }

  .ajax_add_to_cart_button.btn, .ajax_add_to_cart_button.btn:hover {
    padding: 4px;
    width: 80%;
    margin: 0 auto;
  }
  .ajax_add_to_cart_button.btn i {
    font-size: 13px;
  }

  .product-name,.price.product-price {
    font-size: 13px;
  }
  .old-price.product-price {
    font-size: 12px;
  }

  #homepage-slider {
    display: none;
  }

  .productos h2.electro{
    font-size: 16px;
  }  
  span.ver-mas-productos a {
    font-size:14px;
  }

}
@media (min-width: 321px) and (max-width: 480px){
  .btn-cart-div {
    position: absolute !important;
    right: 25px;
    width: 43px;
    top: -32px;
  }

  .price-percent-reduction {
  font-size: 12px;
   }
}

@media (max-width: 665px) and (min-width: 240px){   
  .btn-producto-ver-mas, .add_to_compare {
    display: none !important;
  }

  #search_query_top {
    width: 172px !important;
    height: 27px !important;
  }

  .cuenta .btn-group a {
    font-size: 12px;
  }
  .part-price.card-text{
    min-height: 80px !important;
  }

  .navbar.navbar-expand-lg.navbar-light form button {
    height: 27px;
    padding:5px;
    font-size:13px
  }

  .productos .row{
    margin-top: -20px;
  }
}

@media (min-width: 240px) and (max-width: 768px){
  .btn-grupo-producto {
    position:relative;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0;
    display: block !important;
    background: none;
  }

  .price-percent-reduction.amount-label {
    display: none;
    .btn-grupo-producto }
}

@media (min-width: 480px) and (max-width: 665px){ 
  .ajax_add_to_cart_button.btn, 
  .ajax_add_to_cart_button.btn:hover {
    padding:0;
    font-size: 15px;
  }

  header .navbar {
    padding: 0 9px 0 9px; 
    height: 37px; 
  }

  .btn-producto-ver-mas {
    display: none !important;
  }

  .product-container{
    margin: 7px;
  }

}

@media (min-width: 240px) and (max-width: 480px){
  #homepage-slider, .label-numero-productos {
    display: none;
  }

  .btn-search-general span.label-search { 
    display: none;
  }

  .navbar-light .navbar-toggler {
    font-size: 11px;
  }

  #btn-cart b, span.ajax_cart_product_txt_s {
    display: none;
  } 

  .logo {
    text-align:center !important;
  }
  .logo img {
    height: 40px;
    width: 70%;
  }

  .ajax_add_to_cart_button.btn, 
  .ajax_add_to_cart_button.btn:hover {
    padding:6px;
    font-size: 15px;
  }

} 


@media (min-width: 321px) and (max-width: 665px){  

  .logo {
    padding: 0
  }

  .ajax_add_to_cart_button.btn, 
  .ajax_add_to_cart_button.btn:hover {
    padding:6px;
    font-size: 15px;
  }

  .logo img {
    height: 37px;
    width: 62%;
  }

  .price.product-price {
    font-size: 15px;
  }
  .product-name {
    font-size: 14px;
  }

  .articulo{
    min-height: 0;
    padding-top: 0;
  }
  .ajax_block_product {
    padding: 0 1px 0 1px;
  }

  #btn-cart {
    height: 29px;
    padding: 2px 5px;
  }

  #btn-cart img {
    height: 22px !important;
    margin-top: -7px;
  }

  #btn-cart .badge.badge-light{
    margin-top: -28px !important;
  }

  .productos h2.electro{
    font-size: 16px;
    padding-top: 5px;
  }  

  span.ver-mas-productos a {
    font-size:14px;
  }
}


@media (min-width: 667px)  and (max-width: 768px) {  
  .navbar.navbar-expand-lg.navbar-light form{
    margin-right:18px;
  }
  .productos h2.electro{
    font-size: 22px;
  }  
}

@media (min-width: 992px) { 
  .price-percent-reduction.categort-list {
    font-size: 13px; 
  }
}


@media (min-width: 1200px) {  
}


/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/


@media (max-width: 950px) { 

}
